body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000; /* Black background for the entire page */
  color: #ffffff; /* White text for readability */
  font-family: Arial, sans-serif;
}

.works-page {
  min-height: calc(100vh - 60px - 2rem);
  margin: 2rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  border: 3px solid #c6a787;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.works-separator {
  border: 2px solid #c6a787;
  width: 104%;
  max-width: 1900px;
}

.works-title-image {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-title-image img {
  max-width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

.project-grid {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 90vw;
  max-width: 1300px;
}

@media (min-width: 1024px) {  /* Apply when the screen is large */
  .project-grid {
      grid-template-columns: repeat(3, 1fr); /* ✅ Exactly 3 columns */
  }
}