<header>
  <div class="header-left">
    <!-- Make 'Kevin Pak' clickable and link it to the home page -->
    <h1>
      <div class="name">
        <a routerLink="/">
          <img src="assets/Kevin-Pak.png" alt="Kevin Pak">
        </a>
      </div>
    </h1>
  </div>
  <div class="header-right">
    <!-- About Tab -->
    <div class="header-link about-link">
      <a routerLink="/about" title="About">
        <div class="image-wrapper">
          <img src="assets/about.png" alt="About">
        </div>
        <span>About</span>
      </a>
    </div>
    <!-- Work Tab -->
    <div class="header-link work-link">
      <a routerLink="/work" title="Work">
        <div class="image-wrapper">
          <img src="assets/desktop.png" alt="Work">
        </div>
        <span>Work</span>
      </a>
    </div>
    <!-- Thoughts Tab -->
    <div class="header-link thoughts-link">
      <a routerLink="/thoughts" title="Thoughts">
        <div class="image-wrapper">
          <img src="assets/thoughts.png" alt="Thoughts">
        </div>
        <span>Thoughts</span>
      </a>
    </div>
  </div>
</header>
