<div class="about-page">
  <!-- Replaced H1 and H2 with an image -->
  <div class="about-title-image">
    <img src="assets/About-title.png" alt="About Title">
  </div>

  <div class="works-separator"></div>

  <div class="about-content">
    <div class="about-image">
      <img src="assets/kevin-head.jpeg" alt="Profile Picture">
    </div>
    <div class = "coke-image">
      <img src="assets/coke-zero.gif" alt="coke">
    </div>
    <div class="about-text">
      <p>
        Hey! I’m Kevin, a full-stack developer and machine learning enthusiast. I love building things that blend 
        engineering with intelligence—whether it’s crafting seamless web experiences or training models to recognize 
        patterns in data.
      </p>
      <p>
        I’m currently a full-stack developer at Tale, where I help shape platforms for sports betting communities. 
        
      </p>
      <p>
        Before that, I built full-stack applications as an intern at Atsap and worked on classification models in my 
        research at the University of Pittsburgh, exploring how machine learning can enhance decision-making. I also 
        developed <strong>InTheBlock</strong>, a mobile app published on the App Store that helps college students 
        find food deals around their campus.
      </p>
      <p>
        I love pushing limits—not just in code but in life. I ran the Philly Marathon in 2023 and am currently training 
        for a half Ironman. When I’m not running or biking, you’ll probably find me at a poker table, testing my game 
        theory skills in a different way.
      </p>
      <p>
        I’m a big fan of Coke Zero, Noah Kahan, and finding new ways to challenge myself—whether it’s through a 
        technical problem, a race, or a well-played hand.
      </p>
    </div>
  </div>
</div>
