<div class="homepage-container">
    <div class="main-title">
      <img src="assets/Kevin-Pak.png" alt="Kevin Pak">
    </div>
    <div class="icon-links">
      <div class="icon about-icon" routerLink="/about" title="About">
        <span>About</span>
        <img src="assets/about.png" alt="About">
      </div>
      <div class="icon work-icon" routerLink="/work" title="Work">
        <span>Work</span>
        <img src="assets/desktop.png" alt="Work">
      </div>
      <div class="icon thoughts-icon" routerLink="/thoughts" title="Thoughts">
        <span>Thoughts</span>
        <img src="assets/thoughts.png" alt="Thoughts">
      </div>
    </div>
    <div class="chill-image">
        <img src="assets/Chill.png" alt="Chill">
    </div>
  </div>
  