/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000; /* Black background for the entire page */
    color: #ffffff; /* White text for readability */
    font-family: Arial, sans-serif;
}